SOLR_LOCATOR : {

#This is the name of the collection which we created with solrctl utility in our earlier steps
 collection : demo-collection  
#Zookeeper host names, you will find this information in CDH manager at Zookeeper service
zkHost : "hostip1:2181, hostip2:2181, hostip3:2181/solr" 

}
And include this specific XQuery inside the commands tag of morphlines
xquery {
	fragments : [
	{
		fragmentPath : "/"
		queryString : """
		for $data in /file-format/data-set
		return
		<record>
			<SOPInstanceUID>{$data/element[@name='SOPInstanceUID']}</SOPInstanceUID>
			<ImageType>{$data/element[@name='ImageType']}</ImageType>
			<InstanceCreationDate>{$data/element[@name='InstanceCreationDate']}</InstanceCreationDate>
			<InstanceCreationTime>{$data/element[@name='InstanceCreationTime']}</InstanceCreationTime>
			<StudyDate>{$data/element[@name='StudyDate']}</StudyDate>
			<ContentDate>{$data/element[@name='ContentDate']}</ContentDate>
			<DerivationDescription>{$data/element[@name='DerivationDescription']}</DerivationDescription>
			<ProtocolName>{$data/element[@name='ProtocolName']}</ProtocolName>
			<PatientID>{$data/element[@name='PatientID']}</PatientID>
			<PatientName>{$data/element[@name='PatientName']}</PatientName>
			<StudyDescription>{$data/element[@name='StudyDescription']}</StudyDescription>
			<DicomUrl>{$data/element[@name='DicomUrl']}</DicomUrl>
		</record>
		"""
		}
		]
	}
}